@model CameroonTradeInformationPortal.Models.Article

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<section class="wrapper">

    <div class="row">
        <div class="col-md-6 form-group">

        </div>
        <div class="col-md-6 form-group">

        </div>
    </div>
    <header class="panel-heading wht-bg">
        <h4 class="gen-case">
            Ajouter un article
            <span class="pull-right mail-src-position">
                <span class="input-append">
                    <a asp-action="Index" class="btn btn-info">Voir la liste</a>
                </span>
            </span>
        </h4>
    </header>
    <div class="form-w3layouts">
        <div class="row">
            <div class="col-md-12">
                <div data-collapsed="0" class="panel">
                    <div class="panel-heading">

                    </div>

                    <div class="panel-body">
                        <form enctype="multipart/form-data" asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label asp-for="Titre" class="control-label"></label>
                                    <input asp-for="Titre" class="form-control" />
                                    <span asp-validation-for="Titre" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label asp-for="Chapeau" class="control-label"></label>
                                    <input asp-for="Chapeau" class="form-control" />
                                    <span asp-validation-for="Chapeau" class="text-danger"></span>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label asp-for="LangueId" class="control-label"></label>
                                    <select asp-for="LangueId" class="form-control" asp-items="ViewBag.LangueId"></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label asp-for="Auteur" class="control-label"></label>
                                    <input asp-for="Auteur" class="form-control" />
                                    <span asp-validation-for="Auteur" class="text-danger"></span>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label asp-for="DateCreation" class="control-label"></label>
                                    <input asp-for="DateCreation" class="form-control" />
                                    <span asp-validation-for="DateCreation" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label asp-for="Etat" class="control-label"></label>
                                    <input asp-for="Etat" class="form-control" />
                                    <span asp-validation-for="Etat" class="text-danger"></span>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label asp-for="DateModification" class="control-label"></label>
                                    <input asp-for="DateModification" class="form-control" />
                                    <span asp-validation-for="DateModification" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label asp-for="Image" class="control-label"></label>
                                    <div class="custom-file">
                                        <input asp-for="Image" class="custom-file-input" id="FLFImage"
                                               onchange="document.getElementById('ImagePrv').src = window.URL.createObjectURL(this.files[0])" />
                                        <label for="FLFImage" class="custom-file-label">Choisir une Image</label>
                                    </div>
                                    <span asp-validation-for="Image" class="text-danger"></span>
                                    <img id="ImagePrv" src="" alt="Image" width="150" height="50"/>
                                </div>
                                <div class="col-md-6 form-group">
                                    <span asp-validation-for="Image" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label asp-for="Contenu" class="control-label"></label>
                                    <textarea asp-for="Contenu" class="form-control" id="tiny"></textarea>
                                    <span asp-validation-for="Contenu" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                                <div class="col-md-6 form-group">
                                    <a asp-action="Index">Back to List</a>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custon-file-label").addClass("selected").html(fileName);
    });
</script>