@{
    ViewData["Title"] = "Home Page";
}

<section class="w3l-main-slider" id="home">
    <!-- main-slider -->
    <div class="companies20-content">

        <div class="owl-one owl-carousel owl-theme">
            <div class="item">
                <li>
                    <div class="slider-info banner-view bg bg2" data-selector=".bg.bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg mx-auto text-center">
                                    <h5>Cameroon Trade Portal le Hub de l'Information</h5>
                                    <a class="btn btn-secondary btn-theme2 mt-md-5 mt-4" href="services.html">Lire Plus</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info  banner-view banner-top1 bg bg2" data-selector=".bg.bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg mx-auto text-center">
                                    <h5>Explore The World Of Our Graduates</h5>
                                    <a class="btn btn-secondary btn-theme2 mt-md-5 mt-4" href="services.html">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top2 bg bg2" data-selector=".bg.bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg mx-auto text-center">
                                    <h5>Exceptional People, Exceptional Care</h5>
                                    <a class="btn btn-secondary btn-theme2 mt-md-5 mt-4" href="services.html">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top3 bg bg2" data-selector=".bg.bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg mx-auto text-center">
                                    <h5>Explore The World Of Our Graduates</h5>
                                    <a class="btn btn-secondary btn-theme2 mt-md-5 mt-4" href="services.html">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
        </div>
    </div>

    </div>


    <script src="~/user/js/owl.carousel.js"></script>
    <!-- script for -->
    <script>
            $(document).ready(function () {
                $('.owl-one').owlCarousel({
                    loop: true,
                    margin: 0,
                    nav: false,
                    responsiveClass: true,
                    autoplay: true,
                    autoplayTimeout: 80000,
                    autoplaySpeed: 10000,
                    autoplayHoverPause: true,
                    responsive: {
                        0: {
                            items: 1,
                            nav: false
                        },
                        480: {
                            items: 1,
                            nav: false
                        },
                        667: {
                            items: 1,
                            nav: true
                        },
                        1000: {
                            items: 1,
                            nav: true
                        }
                    }
                })
            })
    </script>
    <!-- //script -->
    <!-- /main-slider -->
</section>
<!--Services-->
<section class="w3l-features-4">
    <!-- /features -->
    <div class="features py-5" id="services">
        <div class="container py-md-3">
            <div class="heading text-center mx-auto">
                <h3 class="head">Services et Informations</h3>
                <p class="my-3 head"> Accéder aux différents services et informations offerts par le portail d’informations commercial </p>
            </div>
            <div class="fea-gd-vv row mt-5 pt-3">
                <div class="float-lt feature-gd col-lg-4 col-md-6">
                    <div class="icon"> <span class="fa fa-file-text-o" aria-hidden="true"></span></div>
                    <div class="icon-info">
                        <h5><a href="#">Procédures</a></h5>
                        <p>
                            Accéder à la base de recherche des procédures (import-export-transit, administratives...).
                        </p>
                        <a href="#" class="red mt-3">Lire Plus <span class="fa fa-angle-right pl-1"></span></a>
                    </div>

                </div>
                <div class="float-mid feature-gd col-lg-4 col-md-6 mt-md-0 mt-5">
                    <div class="icon"> <span class="fa fa-trophy" aria-hidden="true"></span></div>
                    <div class="icon-info">
                        <h5>
                            <a href="#">
                                Lois & Réglements
                            </a>
                        </h5>
                        <p>
                            Accéder à la base de recherche des réglementations (douane, organismes de contrôle ...)
                        </p>
                        <a href="#" class="red mt-3">Lire Plus <span class="fa fa-angle-right pl-1"></span></a>
                    </div>
                </div>
                <div class="float-rt feature-gd col-lg-4 col-md-6 mt-lg-0 mt-5">
                    <div class="icon"> <span class="fa fa-clone" aria-hidden="true"></span></div>
                    <div class="icon-info">
                        <h5><a href="#">Mesures Phytosanitaires</a></h5>
                        <p> Accédez au référentiel des mesures sanitaires et phytosanitarires </p>
                        <a href="#" class="red mt-3">Lire Plus <span class="fa fa-angle-right pl-1"></span></a>
                    </div>
                </div>
                <div class="float-lt feature-gd col-lg-4 col-md-6 mt-5">
                    <div class="icon"> <span class="fa fa-bullseye" aria-hidden="true"></span></div>
                    <div class="icon-info">
                        <h5>
                            <a href="#">Accords Commerciaux</a>
                        </h5>
                        <p>
                            Accéder à la base de recherche des accords commerciaux
                        </p>
                        <a href="#" class="red mt-3">Lire Plus <span class="fa fa-angle-right pl-1"></span></a>
                    </div>

                </div>
                <div class="float-mid feature-gd col-lg-4 col-md-6 mt-5">
                    <div class="icon"> <span class="fa fa-cube" aria-hidden="true"></span></div>
                    <div class="icon-info">
                        <h5>
                            <a href="#">Made in Cameroon</a>
                        </h5>
                        <p>
                            Accéder à la base de recherche des produits locaux made in cameroon
                        </p>
                        <a href="#" class="red mt-3">Lire Plus <span class="fa fa-angle-right pl-1"></span></a>
                    </div>
                </div>
                <div class="float-rt feature-gd col-lg-4 col-md-6 mt-5">
                    <div class="icon"> <span class="fa fa-spinner" aria-hidden="true"></span></div>
                    <div class="icon-info">
                        <h5>
                            <a href="#">Facilitation</a>
                        </h5>
                        <p> Accéder à la base de recherche des produits locaux made in cameroun </p>
                        <a href="#" class="red mt-3">Lire Plus <span class="fa fa-angle-right pl-1"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //features -->
</section>
<!--//Services-->
<!-- features-4 block -->
<section class="w3l-index1" id="about">
    <div class="calltoaction-20  py-5 editContent">
        <div class="container py-md-3">

            <div class="calltoaction-20-content row">
                <div class="column center-align-self col-lg-6 pr-lg-5">
                    <h5 class="editContent">A propos</h5>
                    <p class="more-gap editContent">Le portail d’information commerciale est une plateforme électronique qui regroupe toutes les exigences et règlementations des procédures liées au commerce international. Cameroon Trade Portal est une application qui respecte les exigences de l’Accord sur la Facilitation des Echanges de l’OMC dont le Cameroun est le 1er signataire en décembre 2013. </p>
                    <p class="more-gap editContent">Cette plateforme s’aligne également sur le Guide de création d’un portail d’information commerciale édité par la Banque mondiale. Cameroon Trade portal , se présente ainsi comme la vitrine gouvernementale de l'information commerciale. </p>
                    <a class="btn btn-secondary btn-theme2 mt-3" href="about.html"> Lire plus</a>
                </div>
                <div class="column ccont-left col-lg-6">
                    <img src="~/user/images/g1.jpg" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- features-4 block -->
<!--  form-12 -->
<section class="w3l-form-12 services-12">
    <div class="form-12-content py-5" id="services">
        <div class="container py-md-3">
            <div class="grid grid-column-2 py-md-5">

                <div class="column1">
                    <h4 class="tagline" style="color: #000;">Recherche une procedure</h4>
                    <p>Entrer les information liées à votre marchandise</p>
                    <form action="/" method="Get">
                        <div class="">
                            <input type="text" name="name" class="form-input" placeholder="Nom du produit">
                        </div>
                        <div class="">
                            <select id="sel1">
                                <option>Regime douaniers</option>
                                <option>Importation</option>
                                <option>Exportation</option>
                                <option>Transit Export</option>
                                <option>Transit Import</option>
                            </select>
                        </div>


                        <button type="submit" class="btn btn-secondary btn-theme2">Rechercher</button>
                    </form>
                </div>
                <div class="column2">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-6">
                            <a href="services.html">
                                <div class="courses-item">
                                    <span class="fa fa-male"></span>
                                    <p>FINEX</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6 col-6">
                            <a href="services.html">
                                <div class="courses-item">
                                    <span class="fa fa-desktop"></span>
                                    <p>CAMCIS</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6 col-6 mt-md-0 mt-4">
                            <a href="services.html">
                                <div class="courses-item">
                                    <span class="fa fa-bar-chart"></span>
                                    <p>SIMPA</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6 col-6 mt-md-0 mt-4">
                            <a href="services.html">
                                <div class="courses-item">
                                    <span class="fa fa-question-circle"></span>
                                    <p>FAQ</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6 col-6 mt-4">
                            <a href="services.html">
                                <div class="courses-item mt-2">
                                    <span class="fa fa-tablet"></span>
                                    <p>e-GUCE </p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6 col-6 mt-4">
                            <a href="services.html">
                                <div class="courses-item mt-2">
                                    <span class="fa fa-credit-card"></span>
                                    <p>e-paiement</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6 col-6 mt-4">
                            <a href="services.html">
                                <div class="courses-item mt-2">
                                    <span class="fa fa-cogs"></span>
                                    <p>SIAT</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6 col-6 mt-4">
                            <a href="services.html">
                                <div class="courses-item mt-2">
                                    <span class="fa fa-bank"></span>
                                    <p>Entreprises</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- // form-12 -->

<section class="w3l-features-8">
    <!-- /features -->
    <div class="features py-5" id="services">
        <div class="container py-md-3">


            <div class="fea-gd-vv text-center row">

                <div class="float-top col-lg-4 col-md-6">
                    <a href="#"><img src="~/user/images/g2.jpg" class="img-responsive" alt=""></a>
                    <div class="float-lt feature-gd">
                        <h3><a href="#">Lutte contre la vie chere: le gouvernement s’exprime</a> </h3>
                        <a href="" style="color: green; margin-bottom:5px;">Actualité </a>|<a style="color: red; margin-bottom:5px;"> 25 Juin 2022</a>
                        <p> C’était au cours du point de presse organisé ce 30 mars 2022 par Luc Magloire MBARGA ATANGANA, Ministre du Commerce, ... </p>
                    </div>
                </div>
                <div class="float-top col-lg-4 col-md-6 mt-md-0 mt-5">
                    <a href="#"><img src="~/user/images/g3.jpg" class="img-responsive" alt=""></a>
                    <div class="float-lt feature-gd">
                        <h3><a href="#">Approvisionnement des marches en ciment</a> </h3>
                        <a href="" style="color: green; margin-bottom:5px;">Actualité </a>|<a style="color: red; margin-bottom:5px;"> 25 Juin 2022</a>
                        <p> C’est à l’issue de l’audience accordée par Luc Magloire MBARGA ATANGANA, Ministre du Commerce, au Directeur Général des Cimenteries... </p>
                    </div>
                </div>
                <div class="float-top col-lg-4 col-md-6 mt-lg-0 mt-5">
                    <a href="#"><img src="~/user/images/g8.jpg" class="img-responsive" alt=""></a>
                    <div class="float-lt feature-gd">
                        <h3><a href="#">La 12<sup>ème</sup> Conférence de l'OMC</a> </h3>
                        <a href="" style="color: green; margin-bottom:5px;">Actualité </a>|<a style="color: red; margin-bottom:5px;"> 25 Juin 2022</a>
                        <p> Grande victoire du Cameroun à la 12<sup>ème</sup> Conférence Ministérielle de l'Organisation Mondiale du Commerce (OMC)qui se tient à Genève... </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- //features -->
</section>